<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WowHeroAdmin主页</title>
</head>
<body background="/static/wow背景1.jpg" style="background-repeat: no-repeat;
                                                background-size: 100% 100%;
                                                background-attachment: fixed;">
    <h1 style="font-family: 华文楷体; color: white;font-size: 80pt; left: 23%; position:absolute; top: 10%">
        {{ msg }}
    </h1>
    <div style="font-family: 华文行楷; color: black;font-size: 70pt; left: 60%; position: absolute; top: 50%">
        人物志
    </div>
</body>
</html>